<form method="<% method %> " action="<% url %> ">
  <div class="field">
    <label class="label">Nome</label>
    <div class="control">
      <input
        class="input"
        type="text"
        name="checklist[name]"
        placeholder="Lista de Tarefas"
        value="<%= checklist.name %> "
      />
      <p class="is-danger help">Name should be present</p>
    </div>
  </div>

  <button type="submit" class="button is-success">Salvar</button>
  <a href="/checklists" class="button">Cancelar</a>
</form>
