<%- include('../layouts/header.ejs', {title: 'checklist.name'}) %> <%-
include('../layouts/menu.ejs') %>
<section class="section">
  <div class="container">
    <h1 class="title size-4">Nova Lista</h1>

    <%- include('form'), {method: 'post', url: '/checklists', checklist:
    checklist} %>
  </div>
</section>
<%- include('../layouts/footer.ejs') %>
